:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--foreground-color);
  background: var(--gradient-color);
  border:#6b2021;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;

  --gradient-color: linear-gradient(180deg, #A73335, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  --background-color: #242424;
  --foreground-color: aliceblue;
  --button-color: #A73335;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light)
{
    :root{
        --foreground-color: #4b4848;
        --background-color: aliceblue;
        --button-color: #d49d9d;
        --gradient-color: linear-gradient(180deg, #A73335, rgb(255, 255, 255), rgba(255, 255, 255, 0.952));
    }
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 60;
	font-size: 12px;
	position: relative;
	top: 4px;
}

body {
	background: var(--background-color);
}
.main {
	margin: 0 auto;
	width: 400px;
	min-width: 25%;
	max-width: 95%;
	max-height: 100vh;
}
.button,
.oneThird {
	border-radius: 20px;
	text-transform: uppercase;
	text-align: center;
    cursor: pointer;
}

.button,
#timerArea {
	font: 16px/32px Roboto;
    color: var(--foreground-color);
	width: 100%;
	margin: 10px auto;
	border: none;
	display: block;
}
.button {
	background: var(--button-color);
}
#timerArea {
	font: 64px/80px Roboto, sans-serif;
	text-align: center;
}
.hidden {
	visibility: none;
}
.timerButtons,
.threeButtons {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 10px;

	font: 16px Roboto, sans-serif;
	font-weight: 600;
    color: var(--foreground-color);
	width: 100%;
}

.oneThird {
	padding: 8px 0;
	flex-grow: 1;
	background: var(--foreground-color);
	color: var(--background-color);
}

.button:hover {
	background: SeaGreen;
}
.oneThird:hover {
	background: DarkSeaGreen;
}
.grey,
.grey:hover {
	background: #222;
}

